langchain
torch
accelerate
sentence_transformers
streamlit_chat
streamlit
faiss-cpu
tiktoken
huggingface-hub
pypdf
langchain-mistralai
langchain-community
mistralai
llama-index
mistral-common